{% extends 'main.html' %}

{% block content %}
<style>
  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.2em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: auto;
  }

  .styled-table thead tr {
    background-color: #009879;
    text-align: left;
  }

  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
  }

  .styled-table tbody tr {
    border-bottom: 1px solid #8e7070;
  }

  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }

  .styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
</style>

{% if page == 'list' %}
<table class="styled-table">
  <tr>
    <th>Title</th>
    <th>Year</th>
    <th>imdbID</th>
    <th>Type</th>
  </tr class="active-row">
  {% for key in response %}
  <tr>
    <td>{{key.Title}}</td>
    <td>{{key.Year}}</td>
    <td>{{key.imdbID}}</td>
    <td>{{key.Type}}</td>
  </tr>
  {% endfor %}
</table>



{% else %}
{% for key,value in response.items %}
<strong>{{key}}</strong>: <i>{{value}}</i>
<br>
{% endfor %}


{% endif %}

{% endblock content %}